#name {
    width: 300px;
    height: 20px;
}

#fonctions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100%;
    height: 30em;
    
}
#fonctions div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#mail {
    width: 300px;
    height: 20px;
}
#fonctions div:nth-child(3){
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 300px;
    width: 300px;

}
[required]:invalid{
    border:1px solid red;
}
#msg{
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box;
}
#fonctions>input{
    height: auto;
}