.fonction>a {
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    padding-bottom: 10px;
}
body{
    background-color: #EDF1F4;
}
#fonctions{
    display: flex;
    flex-direction: column;
}
#fonctions div:nth-of-type(odd){
    width: 50%;
    margin: 2em;
    background-color: white;
    box-shadow: -10px 2px 0px 5px #02133E;

}
#fonctions div:nth-of-type(even){
    align-self: flex-end;
    width: 50%;
    margin: 2em;
    background-color: white;
    box-shadow: 10px 2px 0px 5px #02133E;
}
p{
    display: inline-block;
}
h2{
    display: inline-block;
    font-size: 1.3em;
}