@media screen and (min-width: 768px) {
    header {
        background-image: url(blue.jpg);
        background-size: 112% auto;
        margin: 0 auto;
        width: 100%;
        height: 336px;
        position: relative;
    }
    #Titre_principal {
        text-align: center;
        padding-top: 114px;
    }
    body {
        margin: 0 auto;
    }
    .closebtn {
        display: none;
    }
    span {
        display: none;
    }
    #partie1 {
        width: 100%;
        max-height: 415px;
        max-width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #02133E;
    }
    h1 {
        color: white;
        font-size: 34pt;
    }
    * {
        box-sizing: border-box;
    }
    .block {
        max-width: 1154px;
        max-height: 398px;
        width: 92%;
        border-top: solid white 1.5px;
        border-bottom: solid whitesmoke 1.5px;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        display: flex;
        margin-bottom: 10px;
        position: relative;
        margin-top: 10px;
    }
    .texte1 h3 {
        color: white;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 28px;
    }
    .texte1 {
        height: 50px;
        position: absolute;
        top: 25%;
        left: 58%;
    }
    #TITRE2 {
        position: absolute;
        color: white;
        display: block;
        max-width: 358px;
        width: 100%;
        left: 54%;
        top: 6%;
        height: 72px;
    }
    #TITRE3 {
        position: absolute;
        width: auto;
        left: 10%;
        top: 6%;
    }
    .imagebox .img1 {
        position: relative;
        margin-top: 11em;
        margin-right: 29px;
        margin-bottom: 10em;
        box-sizing: content-box;
    }
    .img1 {
        max-width: 100%;
        height: auto;
    }
    .primaire,
    .secondaire {
        width: 35%;
        align-self: flex-end;
        margin-bottom: 61px;
        padding-left: 14px;
        padding-right: 14px;
    }
    .fonction1,
    .fonction2,
    .fonction3,
    .fonction4,
    .fonction5,
    .fonction6 {
        align-content: center;
        text-align: center;
        color: black;
        max-width: 395px;
        max-height: 35px;
        height: 100%;
        padding-bottom: 12px;
        padding-top: 12px;
        background-color: white;
        width: 100%;
        z-index: 1;
        border-radius: 4px;
    }
    a {
        font-size: 12pt;
    }
    .fonction2,
    .fonction3,
    .fonction5,
    .fonction6 {
        margin-top: 25px;
    }
    .Pestel1 {
        background-color: rgba(0, 0, 0, 1);
    }
    .Pestel1 a {
        color: white;
        font-family: 'Raleway', sans-serif;
    }
    .bas {
        height: 120px;
        background-color: #02133E;
    }
    footer {
        padding-top: 24px;
        padding-bottom: 24px;
        height: 70px;
        max-width: 1154px;
        max-height: 398px;
        width: 92%;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        display: flex;
        margin-bottom: 10px;
        position: relative;
        margin-top: 10px;
    }
    footer div {
        width: 20%;
    }
    footer ul {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        color: white;
        width: 100%;
        justify-items: flex-start;
    }
    footer a {
        color: white;
    }
    footer li {
        padding-top: 10px;
    }
}