@media only screen and (max-width: 768px) {
    header {
        background-image: url(blue.jpg);
        background-size: 112%;
        margin: 0 auto;
        width: 100%;
        height: 336px;
        position: relative;
        background-size: cover;
    }
    span {
        color: white;
        position: fixed;
        padding: 2%;
        text-shadow: 0 1px 0 black;
        font-size: 4em;
        cursor: pointer;
    }
    #Titre_principal {
        text-align: center;
        padding-top: 114px;
    }
    body {
        margin: 0 auto;
    }
    #partie1 {
        width: 100%;
        max-height: 1200px;
        max-width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #02133E;
    }
    #partie2 {
        width: 100%;
        max-height: 1200px;
        max-width: 100vw;
        height: 100%;
        display: flex;
        background-color: white;
    }
    h1 {
        color: white;
        font-size: 2em;
    }
    * {
        box-sizing: border-box;
    }
    .block {
        max-width: 1154px;
        max-height: 100%;
        width: 92%;
        border-top: solid white 1.5px;
        border-bottom: solid whitesmoke 1.5px;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        margin-top: 30px;
        padding-left: 15%;
        display: flex;
        position: relative;
        display: inline;
    }
    .texte1 h3 {
        color: white;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 28px;
    }
    .texte1 {
        height: 50px;
        position: absolute;
        top: 10%;
        left: 30%;
    }
    #TITRE2 {
        color: white;
        max-width: 644px;
        max-height: 35px;
        height: 100%;
        padding-bottom: 24px;
        padding-top: 12px;
        width: 100%;
        z-index: 1;
        border-radius: 4px;
    }
    #TITRE3 {
        position: absolute;
        display: flex;
        max-width: 400px;
        left: 18%;
        top: 6%;
    }
    .imagebox .img1 {
        position: relative;
        margin-top: 4em;
        margin-bottom: 1em;
        box-sizing: content-box;
    }
    .img1 {
        max-width: 100%;
        width: 80%;
        height: auto;
    }
    .primaire,
    .secondaire {
        width: 80%;
        align-self: center;
        margin-bottom: 61px;
    }
    .primaire.P {
        margin-top: 40%;
        align-self: center;
    }
    .fonction1,
    .fonction2,
    .fonction3,
    .fonction4,
    .fonction5,
    .fonction6 {
        cursor: pointer;
        align-content: center;
        text-align: center;
        color: black;
        max-width: 459px;
        max-height: 35px;
        height: 100%;
        padding-bottom: 24px;
        padding-top: 12px;
        background-color: white;
        width: 100%;
        z-index: 1;
        border-radius: 4px;
    }
    a {
        font-size: 12pt;
    }
    .fonction2,
    .fonction3,
    .fonction5,
    .fonction6 {
        margin-top: 25px;
    }
    .Pestel1 {
        background-color: rgba(0, 0, 0, 1);
    }
    .Pestel1 a {
        color: white;
        font-family: 'Raleway', sans-serif;
    }
    .imagebox.P {
        position: relative;
        margin-top: 4em;
        margin-bottom: 1em;
        box-sizing: content-box;
    }
    .img1.P {
        max-width: 100%;
        width: 81%;
        height: auto;
    }
    #telordi {
        display: none;
    }
    .bas {
        height: 120px;
        background-color: #02133E;
    }
    footer {
        padding-top: 24px;
        padding-bottom: 24px;
        max-width: 1154px;
        max-height: 100%;
        width: 92%;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        padding-left: 10%;
    }
    footer div {
        width: 50%;
    }
    footer ul {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        color: white;
        width: 100%;
        list-style-type: circle;
    }
    footer a {
        color: white;
    }
    footer li {
        padding-top: 10px;
    }
}