.menu{
    display: flex;
    margin-left:80%;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;

}
.menu nav>ul{
    display: inline-flex;
    padding: 0;
    justify-content: space-around;
}
.menu li.déroulant{
    list-style-type: none;
    font-size: 12pt;
    height: 20px;
    width: 139px;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
    margin: 0 auto;
    
}
.menu .click{
    list-style-type: none;
    font-size: 1em;
    height: 20px;
    width: 139px;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
    margin: auto;
}
.menu li a{
    color: white;
    text-decoration: none;
    text-align: center;



}
.menu li.déroulant:hover ul.sous{
    display: inline-block;
    background-color: #1c1c1c; 
    color: white;
    padding: 2em;
    margin-top: 1em;
    margin-right: 157px;

}
.menu li.déroulant:hover ul.sous li{
   display: flex;
   justify-content: space-between;
   padding-bottom: 1em;
}

.sous{
    display: none;
}
ul{
    display: flex;
    justify-content: space-between;

}
h2{
    position: absolute;
    top: 0;
    margin: 0;
    color: white;
    margin-left: 26px;
    margin-top: 10px;
    font-size: 15pt;
}