@media screen and (max-width: 701px) {
    .menu {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: black;
        position: fixed;
        height: 100%;
        overflow: auto;
        top: 0;
        left: 0;
    }
    .sous {
        display: none;
    }
    .fonction>a {
        display: flex;
    }
    .menu li.fonction,
    .menu li.Pestel,
    .menu .click {
        list-style-type: none;
        font-size: 12pt;
        padding-top: 20%;
        background-color: black;
    }
    .menu li.fonction {
        width: 140px;
    }
    .menu .click {
        width: 80px;
    }
    .menu li a {
        color: white;
        text-decoration: none;
    }
    .menu li.fonction:hover ul.sous,
    .menu li.Pestel:hover ul.sous {
        display: inline-block;
        background-color: black;
        color: white;
    }
    .menu li.fonction:hover ul,
    .menu li.Pestel:hover ul {
        display: inline-block;
        background-color: #1c1c1c;
        color: white;
        padding: 2em;
    }
    .menu li.fonction:hover ul.sous li,
    .menu li.Pestel:hover ul.sous li {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1em;
    }
    #titre2 {
        position: absolute;
        top: 0;
        margin: 0;
        color: white;
        margin-left: 26px;
        margin-top: 10px;
        font-size: 15pt;
    }
}

#titre2 {
    position: absolute;
    top: 0;
    margin: 0;
    color: white;
    margin-left: 26px;
    margin-top: 10px;
    font-size: 15pt;
}