.Pestel{
    border-bottom-color: rgba(27,42,81,1);
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 30px;
}