header{
    background-color: red;
    margin: -7px;
    margin-top: -8px;
    width: 100%;
    height: 38%;
    position: absolute;
}
#Titre_principal{
    text-align: center;
    margin-top: 9%;
    font-size: 250%;
}

